<footer>
	<div class="footer-menu">
		<ol>
			<li>PHÒNG TRỌ, NHÀ TRỌ</li>
			<li><a href="/phongtro/HCM">Phòng trọ Hồ Chí Minh</a></li>
			<li><a href="/phongtro/HN">Phòng trọ Hà Nội</a></li>
			<li><a href="/phongtro/BD">Phòng trọ Bình Định</a></li>
		</ol>
		<ol>
			<li>THUÊ NHÀ NGUYÊN CĂN</li>
			<li><a href="/thuenha/HCM">Thuê nhà Hồ Chí Minh</a></li>
			<li><a href="/thuenha/HN">Thuê nhà Hà Nội</a></li>
			<li><a href="/thuenha/BD">Thuê nhà Bình Định</a></li>
		</ol>
		<ol>
			<li>CHO THUÊ CĂN HỘ</li>
			<li><a href="/thuecanho/HCM">Thuê căn hộ Hồ Chí Minh</a></li>
			<li><a href="/thuecanho/HN">Thuê căn hộ Hà Nội</a></li>
			<li><a href="/thuecanho/BD">Thuê căn hộ Bình Định</a></li>
		</ol>
		<ol>
			<li>CHO THUÊ MẶT BẰNG</li>
			<li><a href="/thuematbang/HCM">Thuê mặt bằng Hồ Chí Minh</a></li>
			<li><a href="/thuematbang/HN">Thuê mặt bằng Hà Nội</a></li>
			<li><a href="/thuematbang/BD">Thuê mặt bằng Bình Định</a></li>
		</ol>
		<ol>
			<li>TÌM NGƯỜI Ở GHÉP</li>
			<li><a href="/oghep/HCM">Ở ghép Hồ Chí Minh</a></li>
			<li><a href="/oghep/HN">Ở ghép Hà Nội</a></li>
			<li><a href="/oghep/BD">Ở ghép Bình Định</a></li>
		</ol>
	</div>
	<div class="footer-system">
		<p>Cùng hệ thống LBKCorp:</p>
		<div class="footer-system-image">
			<img src="/assets/images/logo.png"> 
			<img src="/assets/images/logo-bds123.svg"> 
			<img src="/assets/images/logo-chothuenha.svg"> 
			<img src="/assets/images/logo-thuecanho.svg">
		</div>
	</div>
	<div class="footer-infor">
		<ol>
			<li>VỀ PHONGTRO123.COM</li>
			<li><a href="/footer/gioithieu">Giới thiệu</a></li>
			<li><a href="/footer/quychehoatdong">Quy chế hoạt động</a></li>
			<li><a href="/footer/quydinhsudung">Quy định sử dụng</a></li>
			<li><a href="/footer/chinhsachbaomat">Chính sách bảo mật</a></li>
		</ol>
		<ol>
			<li>DÀNH CHO KHÁCH HÀNG</li>
			<li><a href="/footer/cauhoithuonggap">Câu hỏi thường gặp</a></li>
			<li><a href="/footer/huongdandangtin">Hướng dẫn đăng tin</a></li>
			<li><a href="banggiadichvu">Bảng giá dịch vụ</a></li>
			<li><a href="/footer/quydinhdangtin">Quy định đăng tin</a></li>
			<li><a href="/footer/giaiquyetkhieunai">Giải quyết khiếu nại</a></li>
		</ol>
		<ol>
			<li>PHƯƠNG THỨC THANH TOÁN</li>
			<li class="footer-infor-image">
				<img src="/assets/images/bi-momo.svg"> 
				<img src="/assets/images/bi-visa.svg"> 
				<img src="/assets/images/bi-mastercard.svg"> 
				<img src="/assets/images/bi-jcb.svg"> 
				<img src="/assets/images/bi-internet-banking.svg"> 
				<img src="/assets/images/bi-cash.svg">
			</li>
		</ol>
		<ol>
			<li>THEO DÕI PHONGTRO123.COM</li>
			<li class="footer-infor-follow">
				<a href="#"><img src="/assets/images/bi-facebook.svg"></a>
				<a href="#"><img src="/assets/images/bi-youtube.svg"></a>
				<a href="#"><img src="/assets/images/bi-zalo.svg"></a>
			</li>
		</ol>
	</div>
	<div class="footer-infor-company">
		<p class="footer-company">CÔNG TY TNHH LBKCORP</p>
		<p>Căn 02.34, Lầu 2, Tháp 3, The Sun Avenue, Số 28 Mai Chí Thọ, Phường An Phú, Thành phố Thủ Đức, Thành phố Hồ Chí Minh, Việt Nam.</p>
		<p>Tổng đài CSKH: <span class="footer-numberphone">0909 316 890</span> - Email: cskh.phongtro123@gmail.com - Giấy phép đăng ký kinh doanh số 0313588502 do Sở kế hoạch và Đầu tư Tp.HCM cấp ngày 24 tháng 12 năm 2015.</p>
		<img src="/assets/images/bo-cong-thuong.png"> 
	</div>
</footer>


















