<header>
	<!-- Logo header -->
	<div class="header-home">
		<a href="/"><img src="/assets/images/logo.png" alt="Logo"></a>
	</div>
	
	<!-- Thông tin người dùng sẽ hiển thị khi login/register thành công -->
	<div class="header-infor" th:if="${session.user != null}">
		<div style="margin-right: 2%;">
			<i style="font-size: 3vh;" class="fa-solid fa-circle-user"></i>
		</div>
		<div>
			<span th:if="${session.user.fullName.length() >= 13}" >Xin chào, <span id="header_fullname" style="font-weight: 600" th:text="${#strings.substring(session.user.fullName, 0, 13) + '...'}"></span></span>
			<span th:if="${session.user.fullName.length()< 13}" >Xin chào, <span style="font-weight: 600" th:text="${session.user.fullName}"></span></span>
			<br>
			<span>Mã tài khoản: <span style="font-weight: 600" th:text="${#strings.substring(session.user.userId, 0, 9) + '...'}"></span></span>
			<br>
			<span>Tài khoản chính: <span style="font-weight: 600" th:text="${session.user.balance + 'VNĐ'}"></span></span>
		</div>
	</div>
	
	<!-- Yêu thích -->
	<div class="header-favorite">
		<a th:if="${session.user != null}" th:href="'/favorite?id=' + ${session.user.userId}" id="header-heart" class="header-heart"><i class="fa-regular fa-heart"></i>Yêu thích</a>
		<a th:if="${session.user == null}" id="header-heart" class="header-heart"><i class="fa-regular fa-heart"></i>Yêu thích</a>
	</div>
	
	<!-- Quản lý tài khoản -->
	<div class="header-manage-account" th:if="${session.user == null}" >
		<a class="header-account"><i class="fa-solid fa-circle-user"></i>Tài khoản
			<ul class="header-account-menu margin_top_first">
				<li id="register">Tạo tài khoản mới</li>
				<li id="login">Đăng nhập</li>
			</ul> 
		</a>
	</div>
	
	<div class="header-manage-account" th:if="${session.user != null}" >
		<a class="header-account"><i class="fa-solid fa-bars-progress"></i>Quản lý tài khoản
			<ul class="header-account-menu margin_top_second">
				<li id="infor_detail_user">Thông tin tài khoản</li>
				<li id="change_password">Đổi mật khẩu</li>
				<li id="logout">Đăng xuất</li>
				<li id="recharge"> Nạp tiền</li>
			</ul> 
		</a>
	</div>
	
	<!-- Đăng tin -->
	<div class="header-posting-free">
		<a href="/dangtin">Đăng tin miễn phí</a>
	</div>
</header>

<!-- Thanh menu chứa các option dùng redirect sang các page tương ứng -->
<ul class="menu-option">
	<li><a href="#">Trang chủ</a></li>
	<li><a href="#">Cho thuê phòng trọ</a></li>
	<li><a href="#">Nhà cho thuê</a></li>
	<li><a href="#">Cho thuê căn hộ</a></li>
	<li><a href="#">Cho thuê mặt bằng</a></li>
	<li><a href="#">Tìm người ở ghép</a></li>
	<li><a href="#">Tin tức</a></li>
	<li><a href="banggiadichvu">Bảng giá dịch vụ</a></li>
</ul>

<div id="header_popup">
	<div id="popup">
		<div>
			<img src="/assets/images/img_no.png">
		</div>
		<div>
			<p>Đăng nhập để xem danh sách yêu thích!</p>
		</div>
	</div>
</div>