<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Chính sách bảo mật</title>
<link rel="stylesheet" type="text/css" href="/assets/css/style.css">
<link rel="stylesheet" type="text/css" href="/assets/css/header.css">
<link rel="stylesheet" type="text/css" href="/assets/css/footer.css">
<link rel="stylesheet" type="text/css" href="/assets/css/media.css">
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="/assets/js/header.js"></script>
</head>
<body>
	<div th:replace="views/header-footer/header"></div>
	
<div class="wrapper_footer_page">
		<div>
			<a href="/">Trang chủ</a> <span> / Chính sách bảo mật</span>
			<p class="namePage">Chính sách bảo mật</p>
		</div>
		<div class="image">
			<img src="/assets/images/logo.png">
		</div>
		<div>
			<b>Trách nhiệm bảo vệ thông tin cá nhân của người tiêu dùng.</b>
			<br><br>
			&nbsp;&nbsp;&nbsp;&nbsp;- Trong quá trình hoạt động kinh doanh thương mại điện tử, nếu Phongtro123.com thực hiện việc thu thập thông tin cá nhân của người tiêu dùng thì sẽ đảm bảo tuân thủ các quy định tại Nghị định 72/2013/NĐ-CP và những quy định pháp luật liên quan về bảo vệ thông tin cá nhân.
			<br><br>
			<b>Mục đích và phạm vi thu thập thông tin:</b>
			<br><br>
			&nbsp;&nbsp;&nbsp;&nbsp;- Với đặc tính của thị trường bất động sản rất phong phú, đa dạng, chúng tôi luôn cố gắng giữ cho những thông tin được đăng trên trang Phongtro123.com hữu ích và chính xác nhất có thể. Để thực hiện điều đó, Phongtro123.com yêu cầu khách hàng phải cung cấp thông tin cá nhân trong phạm vi bắt buộc.
			<br><br>
			&nbsp;&nbsp;&nbsp;&nbsp;- Các thông tin mà Phongtro123.com có thể thu thập từ Khách hàng: họ tên, giới tính, ngày sinh, email, địa chỉ, điện thoại, số CMND hoặc mã số thuế cá nhân, đối với doanh nghiệp/chủ dự án thì cung cấp số ĐKKD và các thông tin cơ bản liên quan đến về công việc môi giới nhà đất...
			<br><br>
			<b>Phạm vi sử dụng thông tin:</b>
			<br><br>
			&nbsp;&nbsp;&nbsp;&nbsp;- Các thông tin cá nhân được khách hàng cung cấp có thể dùng vào các mục đích sau:
			<br><br>
			&nbsp;&nbsp;&nbsp;&nbsp;- Cung cấp hàng hóa, dịch vụ hay thực hiện những giao dịch mà Khách hàng yêu cầu;
			<br><br>
			&nbsp;&nbsp;&nbsp;&nbsp;- Gửi thông tin đến Khách hàng;
			<br><br>
			&nbsp;&nbsp;&nbsp;&nbsp;- Phân tích, đánh giá và hoàn thiện sản phẩm, dịch vụ (kể cả website), công nghệ, quy trình;
			<br><br>
			&nbsp;&nbsp;&nbsp;&nbsp;- Nâng cao mối tương tác và liên kết với Khách hàng;
			<br><br>
			&nbsp;&nbsp;&nbsp;&nbsp;- Liên hệ giải quyết với khách hàng trong những trường hợp cần thiết
			<br><br>
			&nbsp;&nbsp;&nbsp;&nbsp;- Nếu không có sự đồng ý của Khách hàng, Phongtro123.com sẽ không cung cấp dữ liệu cho bên thứ ba để họ dùng vào mục đích quảng cáo.
			<br><br>
			<b>Thời gian lưu trữ thông tin:</b>
			<br><br>
			&nbsp;&nbsp;&nbsp;&nbsp;- Dữ liệu cá nhân của Thành viên sẽ được lưu trữ cho đến khi có yêu cầu hủy bỏ hoặc tự thành viên đăng nhập và thực hiện hủy bỏ. Còn lại trong mọi trường hợp thông tin cá nhân thành viên sẽ được bảo mật trên máy chủ của Phongtro123.com.
			<br><br>
			<b>Địa chỉ của đơn vị thu thập và quản lý thông tin cá nhân</b>
			<br><br>
			<b>CÔNG TY TNHH LBKCORP</b>
			<br><br>
			Địa chỉ : 150 Trần Não, Phường Bình An, Quận 2, Thành phố Hồ Chí Minh
			<br><br>
			Điện thoại: 0917 686 101                  
			<br><br>
			Email: cskh.phongtro123@gmail.com
			<br><br>
			Phương tiện và công cụ để người dùng tiếp cận và chỉnh sửa dữ liệu cá nhân của mình:
			<br><br>
			Các thành viên có một tài khoản bao gồm user và password để truy cập Phongtro123.com. Sau khi đăng nhập, thành viên có quyền sử dụng mọi dịch vụ/tiện ích được cung cấp trên website theo đúng chức năng, quyền hạn được phân cấp. Thành viên có thể tự chỉnh sửa thông tin cá nhân trong tài khoản của mình.
			<br><br>
			<b>Cam kết bảo mật thông tin cá nhân khách hàng:</b>
			<br><br>
			&nbsp;&nbsp;&nbsp;&nbsp;Thông tin cá nhân của thành viên trên Phongtro123.com được cam kết bảo mật tuyệt đối theo chính sách bảo vệ thông tin cá nhân của Phongtro123.com. Việc thu thập và sử dụng thông tin của mỗi thành viên chỉ được thực hiện khi có sự đồng ý của khách hàng đó trừ những trường hợp pháp luật có quy định khác.
			<br><br>
			&nbsp;&nbsp;&nbsp;&nbsp;Không sử dụng, không chuyển giao, cung cấp hay tiết lộ cho bên thứ 3 nào về thông tin cá nhân của thành viên khi không có sự cho phép đồng ý từ thành viên
			<br><br>
			&nbsp;&nbsp;&nbsp;&nbsp;Trong trường hợp máy chủ lưu trữ thông tin bị hacker tấn công dẫn đến mất mát dữ liệu cá nhân thành viên, Phongtro123.com sẽ có trách nhiệm thông báo vụ việc cho cơ quan chức năng điều tra xử lý kịp thời và thông báo cho thành viên được biết.
			<br><br>
			&nbsp;&nbsp;&nbsp;&nbsp;Bảo mật tuyệt đối mọi thông tin giao dịch trực tuyến của Thành viên bao gồm thông tin hóa đơn kế toán chứng từ số hóa tại khu vực dữ liệu trung tâm an toàn cấp 1 của Phongtro123.com.
			<br><br>
			&nbsp;&nbsp;&nbsp;&nbsp;Ban quản lý Phongtro123.com yêu cầu các cá nhân khi đăng ký là thành viên, phải cung cấp đầy đủ thông tin cá nhân có liên quan như: Họ và tên, địa chỉ liên lạc, email, điện thoại, địa chỉ …., và chịu trách nhiệm về tính pháp lý của những thông tin trên. Ban quản lý Phongtro123.com không chịu trách nhiệm cũng như không giải quyết mọi khiếu nại có liên quan đến quyền lợi của Thành viên đó nếu xét thấy tất cả thông tin cá nhân của thành viên đó cung cấp khi đăng ký ban đầu là không chính xác.
			<br><br>
			&nbsp;&nbsp;&nbsp;&nbsp;Cơ chế tiếp nhận và giải quyết khiếu nại liên quan đến việc thông tin cá nhân
			<br><br>
			&nbsp;&nbsp;&nbsp;&nbsp;Khi khách hàng gửi thông tin cá nhân của khách hàng cho chúng tôi, khách hàng đã đồng ý với các điều khoản mà chúng tôi đã nêu ở trên, Phongtro123.com cam kết bảo mật thông tin cá nhân của các khách hàng bằng mọi cách thức có thể. Chúng tôi sử dụng các hệ thống mã hóa nhằm bảo vệ thông tin này không bị truy lục, sử dụng hoặc tiết lộ ngoài ý muốn.
			<br><br>
			&nbsp;&nbsp;&nbsp;&nbsp;Phongtro123.com cũng khuyến cáo các khách hàng nên bảo mật các thông tin liên quan đến mật khẩu truy xuất của các khách hàng và không nên chia sẻ với bất kỳ người nào khác.
			<br><br>
			&nbsp;&nbsp;&nbsp;&nbsp;Trong trường hợp có phản ánh của khách hàng về việc sử dụng thông tin trái với mục đích đã nêu, Phongtro123.com sẽ tiến hành giải quyết theo các bước sau:
			<br><br>
			&nbsp;&nbsp;&nbsp;&nbsp;Bước 1: Khách hàng gửi thông tin phản hồi về việc thông tin cá nhân thu thập trái với mục đích đã nêu.
			<br><br>
			&nbsp;&nbsp;&nbsp;&nbsp;Bước 2: Bộ phận Chăm sóc Khách hàng của Phongtro123.com tiếp nhận và giải quyết với các bên có liên quan.
			<br><br>
			&nbsp;&nbsp;&nbsp;&nbsp;Bước 3: Trong trường hợp vượt ra khỏi tầm kiểm soát của Phongtro123.com, chúng tôi sẽ đưa ra các cơ quan có thẩm quyền để yêu cầu giải quyết
			<br><br>
			Chúng tôi luôn hoan nghênh các ý kiến đóng góp, liên hệ và phản hồi thông tin từ khách hàng về “Chính sách bảo mật” này. Nếu khách hàng có những thắc mắc liên quan xin vui lòng liên hệ theo địa chỉ Email: cskh.phongtro123@gmail.com
			<div>
				<p class="kenhthongtin">Kênh thông tin phòng trọ số 1 Việt Nam</p>
			</div>
		</div>
	</div>
	
	<div th:replace="views/hotrochunhadangtin"></div>
	<div th:replace="views/header-footer/footer"></div>
</body>
</html>