<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Giới thiệu</title>
<link rel="stylesheet" type="text/css" href="/assets/css/style.css">
<link rel="stylesheet" type="text/css" href="/assets/css/header.css">
<link rel="stylesheet" type="text/css" href="/assets/css/footer.css">
<link rel="stylesheet" type="text/css" href="/assets/css/media.css">
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="/assets/js/header.js"></script>
</head>
<body>
	<div th:replace="views/header-footer/header"></div>
	<div class="wrapper_footer_page">
		<div>
			<a href="/">Trang chủ</a> <span> / Giới thiệu</span>
			<p class="namePage">Giới thiệu</p>
		</div>
		<div class="image">
			<img src="/assets/images/logo.png">
		</div>
		<div>
			<a href="/">Phongtro123.com</a> tự hào là trang web đứng top 1 google với lưu lượng truy cập (traffic) cao nhất trong lĩnh
			vực. 
			<br><br>  
			<strong>Phongtro123.com</strong> tự hào có lượng dữ
			liệu bài đăng lớn nhất trong lĩnh vực cho thuê phòng trọ với hơn <strong>70.000</strong>
			tin trên hệ thống và tiếp tục tăng. 
			<br><br> 
			<strong>Phongtro123.com</strong> tự hào có số lượng người dùng lớn nhất trong lĩnh vực cho thuê phòng
			trọ với hơn <strong>300.000</strong> khách truy cập và hơn <strong> 2.000.000</strong>
			lượt pageview mỗi tháng. 
			<br>
			<br>
			<hr>
			<br> 
			Với mong muốn xây dựng một trang web thật <strong>PRO</strong> chuyên cung cấp thông tin nhà trọ phòng trọ cho mọi người, khi mà
			ngày nay nhu cầu nhà trọ phòng trọ ngày càng tăng ở các thành phố lớn
			nhất là <strong>Hà Nội</strong> và <strong>TP. Hồ Chí Minh</strong>. 
			<br><br> 
			Đối với cách tiếp cận thông tin	truyền thống đã không được truyền đến mọi người một cách kịp thời
			đúng lúc. 
			<br><br> 
			Chính vì nắm bắt được tình hình thực tế đó mà chúng tôi đã
			thành lập website <strong>Phongtro123.com</strong> với mong muốn trở thành một kênh
			truyền thông phổ biến nhà trọ, phòng trọ hữu ích cho mọi người. 
			<br><br> 
			Nếu	trước đây việc cho thuê nhà, cho thuê phòng trọ đều dán giấy đăng
			quảng cáo ở các nơi công cộng rất là mất vẽ mỹ quang đô thị. Thì ngày
			nay các bạn có thể đăng tin trên đây rất tiện lợi, với phương tiện
			truyền thông được phổ biến rộng rãi tin đăng của bạn sẽ được hàng
			ngàn người biết đến. 
			<br><br> 
			Website ra đời sẽ góp phần giải quyết được các
			vấn đề thuê trọ hiện nay, và giúp mọi người tìm kiếm nhà trọ, chỗ ở
			phù hợp và dễ dàng. Hy vọng <strong>Phongtro123.com</strong> sẽ là địa chỉ quen thuộc
			cho mọi người. Website với giao diện thân thiện dễ sử dụng và hướng
			đến người dùng, các chuyên mục được phân chia rất rõ ràng và tim kiếm
			tin đăng rất chi tiết. 
			<br><br> 
			- Bạn có thể tìm phòng trọ nhà trọ, tìm người ở ghép, tìm nhà cho thuê theo: 
			<br> 
			+ Tỉnh thành như Hà Nội, TP.HCM,... 
			<br> 
			+ Quận huyện, chuyên mục, theo giá, theo diện tích. 
			<br> 
			- Đăng tin cho thuê phòng trọ, nhà trọ, nhà nguyên căn, cho thuê căn hộ chung cư với đầy đủ tính năng 
			<br> 
			+ Chức năng quản lý bài viết cho mỗi thành viên 
			<br> 
			+ Chức năng đăng tin lên top cho người đăng tin 
			<br> 
			+ Chức năng xóa, sửa, hạ tin đăng nhưng vẫn còn lưu trên hệ thống vv... 
			<br> <br> 
			<strong>Các dịch vụ chính:</strong> 
			<br> 
			- Đăng thông tin quảng cáo cho thuê phòng trọ, nhà trọ, thuê nhà nguyên căn, cho thuê căn hộ, tìm người ở ghép... 
			<br> 
			- Đăng banner quảng cáo. 
			<br> 
			- Dịch vụ chụp ảnh tận nhà, miễn phí hoàn toàn cho chủ nhà trọ, phòng trọ, nhà nguyên căn. 
			<br> 
			Chúng tôi luôn cố gắng đem lại những thông tin nhanh chóng và chính xác cho mọi	người. Rất mong nhận được sự ủng hộ giúp đỡ của mọi người cùng nhau
			xây dựng một kênh thông tin truyền thông về nhà trọ. 
			<br> <br> 
			<strong>Thông tin về website: </strong>
			<br> 
			- Website Phongtro123.com trực thuộc Công ty TNHH LBKCORP 
			<br> 
			- Website: https://phongtro123.com/ 
			<br> 
			- Địa chỉ: Căn 02.34, Lầu 2, Tháp 3, The Sun Avenue, Số 28 Mai Chí Thọ, Phường An Phú, Thành phố Thủ Đức, Thành phố Hồ Chí Minh, Việt Nam. 
			<br> 
			- Số điện thoại: 0917.686.101 
			<br> 
			- Email: cskh.phongtro123@gmail.com
			<br> 
			<div>
				<p class="kenhthongtin">Kênh thông tin phòng trọ số 1 Việt Nam</p>
			</div>
		</div>
	</div>
	<div th:replace="views/hotrochunhadangtin"></div>
	<div th:replace="views/header-footer/footer"></div>
</body>
</html>