<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Quy chế hoạt động</title>
<link rel="stylesheet" type="text/css" href="/assets/css/style.css">
<link rel="stylesheet" type="text/css" href="/assets/css/header.css">
<link rel="stylesheet" type="text/css" href="/assets/css/footer.css">
<link rel="stylesheet" type="text/css" href="/assets/css/media.css">
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="/assets/js/header.js"></script>
</head>
<body>
	<div th:replace="views/header-footer/header"></div>
	
	<div class="wrapper_footer_page">
		<div>
			<a href="/">Trang chủ</a> <span> / Quy chế hoạt động</span>
			<p class="namePage">Quy chế hoạt động</p>
		</div>
		<div class="image">
			<img src="/assets/images/logo.png">
		</div>
		<div>
			<b>I. Nguyên tắc chung</b><br>
            &nbsp;&nbsp;&nbsp;&nbsp;Sàn giao dịch điện tử Phongtro123.com do Công ty TNHH LBKCORP thực hiện hoạt động và vận hành. Thành viên của Phongtro123.com là các cá nhân, tổ chức có hoạt động thương mại hợp pháp, phải đăng ký kê khai các thông tin cá nhân bắt buộc trước khi được ban quản lý Phongtro123.com chính thức công nhận và cho phép sử dụng dịch vụ do Phongtro123.com cung cấp hoặc liên quan đến Phongtro123.com. Các cá nhân, tổ chức tham gia giao dịch trên Phongtro123.com tự do thỏa thuận trên cơ sở tôn trọng quyền và lợi ích hợp pháp của các bên.
            <br><br>
            &nbsp;&nbsp;&nbsp;&nbsp;Hoạt động mua, bán, thuê BĐS qua Sàn giao dịch thương mại điện tử Phongtro123.com phải được thực hiện công khai, minh bạch, đảm bảo quyền lợi của người thuê, thuê.
            <br><br>
            &nbsp;&nbsp;&nbsp;&nbsp;Hàng hóa, sản phẩm, dịch vụ tham gia giao dịch tại Phongtro123.com phải đáp ứng đầy đủ các quy định của pháp luật có liên quan, không thuộc các trường hợp cấm kinh doanh, cấm quảng cáo theo quy định của pháp luật hiện hành.
			<br><br>
			
			<b>II. Quy định chung</b>
			<br>
            Tên Miền Sàn Giao dịch Thương mại Điện tử:
            <br>
            &nbsp;&nbsp;&nbsp;&nbsp;Sàn giao dịch TMĐT Phongtro123.com do Công ty TNHH LBKCORP phát triển với tên miền Sàn giao dịch là: Phongtro123.com (sau đây gọi tắt là: “Sàn giao dịch Phongtro123.com”).
            <br><br>
            <b>Định nghĩa chung:</b><br>
            <b>Người cho thuê:</b> là thương nhân, tổ chức, cá nhân có nhu cầu sử dụng dịch vụ của Phongtro123.com bao gồm: đăng tin rao vặt trực tuyến giới thiệu về BĐS.
            <br><br>
            <b>Người thuê (khách hàng):</b> là thương nhân, tổ chức, cá nhân có nhu cầu tìm hiểu thông tin về BĐS được đăng tải trên Phongtro123.com của người bán, người cho thuê. Người thuê có quyền đăng ký tài khoản hoặc không cần đăng ký.
            <br><br>
            <b>Thành viên:</b> bao gồm cả người thuê và người cho thuê
            <br><br>
            &nbsp;&nbsp;&nbsp;&nbsp;Thành viên tham gia giao dịch trên Sàn giao dịch Phongtro123.com là thương nhân, tổ chức, cá nhân có nhu cầu mua, bán, thuê BĐS trên website.
            <br><br>
            &nbsp;&nbsp;&nbsp;&nbsp;Thành viên phải đăng ký kê khai ban đầu các thông tin cá nhân có liên quan, được Ban quản lý sàn TMĐT Phongtro123.com chính thức công nhận và được phép sử dụng dịch vụ trên Sàn giao dịch TMĐT.
            <br><br>
            Khi đăng ký là thành viên của Phongtro123.com, thành viên hiểu rằng:
            <br><br>
            - Thành viên có thể tạo một tài khoản cá nhân của mình để sử dụng.
            <br><br>
            - Thành viên có thể mua, thuê theo đúng giá và quy chuẩn theo đúng cam kết của thương nhân hợp pháp đã công bố trên sàn.
            <br><br>
            &nbsp;&nbsp;&nbsp;&nbsp;Nội dung bản Quy chế này tuân thủ theo các quy định hiện hành của Việt Nam. 
            <br><br>
            &nbsp;&nbsp;&nbsp;&nbsp;Thành viên khi tham gia vào Sàn giao dịch TMĐT Phongtro123.com phải tự tìm hiểu trách nhiệm pháp lý của mình đối với luật pháp hiện hành của Việt Nam và cam kết thực hiện đúng những nội dung trong Quy chế của Sàn giao dịch Phongtro123.com.
			
			<br><br>
			<b>III. Quyền và trách nhiệm thành viên tham gia Sàn giao dịch/website Phongtro123.com</b>
		 	<br><br>
			<b>1. Quyền của thành viên</b>
            <br><br>&nbsp;&nbsp;&nbsp;&nbsp;Khi đăng ký trở thành thành viên của Phongtro123.com và được Phongtro123.com đồng ý, thành viên sẽ được đăng tin tại Phongtro123.com.
            <br><br>&nbsp;&nbsp;&nbsp;&nbsp;Đối với thành viên là người đăng tin sẽ được duyệt tài khoản đăng nhập bao gồm một tên đăng ký và mật khẩu riêng để được vào sử dụng trong việc quản lý những giao dịch tại Phongtro123.com và đăng thông tin bất động sản của mình trên Sàn giao dịch TMĐT Phongtro123.com.
            <br><br>&nbsp;&nbsp;&nbsp;&nbsp;Thành viên bao gồm cả người đăng tin và khách hàng mua/thuê bất động sản sẽ được nhân viên của Sàn giao dịch TMĐT Phongtro123.com hướng dẫn sử dụng được các công cụ, các tính năng phục vụ cho việc đăng tin rao vặt và sử dụng các dịch vụ tiện ích trên Sàn giao dịch TMĐT Phongtro123.com
            <br><br>&nbsp;&nbsp;&nbsp;&nbsp;Thành viên có quyền đóng góp ý kiến cho Sàn giao dịch TMĐT Phongtro123.com trong quá trình hoạt động. Các kiến nghị được gửi trực tiếp bằng thư, fax hoặc email đến cho Sàn giao dịch.
			<br><br><b>2. Trách nhiệm thành viên</b>
            <br><br>&nbsp;&nbsp;&nbsp;&nbsp;Thành viên sẽ tự chịu trách nhiệm về bảo mật và lưu giữ và mọi hoạt động sử dụng dịch vụ dưới tên đăng ký, mật khẩu và hộp thư điện tử của mình.
            <br><br>&nbsp;&nbsp;&nbsp;&nbsp;Thành viên có trách nhiệm thông báo kịp thời cho Sàn giao dịch TMĐT Phongtro123.com về những hành vi sử dụng trái phép, lạm dụng, vi phạm bảo mật, lưu giữ tên đăng ký và mật khẩu của mình để hai bên cùng hợp tác xử lý.
			<br><br>&nbsp;&nbsp;&nbsp;&nbsp;Thành viên là người đăng tin có trách nhiệm cung cấp đầy đủ thông tin về hàng hoá, dịch vụ bao gồm: đặc tính hàng hoá, dịch vụ; giá cả; điều kiện giao dịch; thông tin giao nhận và vận chuyển; phương thức thanh toán.
			<br><br>&nbsp;&nbsp;&nbsp;&nbsp;Thành viên cam kết những thông tin cung cấp cho Sàn giao dịch TMĐT và những thông tin đăng tải lên Sàn giao dịch TMĐT về các hàng hoá và dịch vụ là chính xác, trung thực và chịu trách nhiệm về điều này.
            <br><br>&nbsp;&nbsp;&nbsp;&nbsp;Thành viên là người đăng tin có trách nhiệm tuân thủ quy định của pháp luật về thanh toán, quảng cáo, khuyến mại, bảo vệ quyền sở hữu trí tuệ, bảo vệ quyền lợi người tiêu dùng và các quy định của pháp luật có liên quan khác khi bán hàng hoá hoặc cung ứng dịch vụ trên sàn giao dịch thương mại điện tử
            <br><br>&nbsp;&nbsp;&nbsp;&nbsp;Thành viên tự chịu trách nhiệm về nội dung, hình ảnh của thông tin Doanh nghiệp và các thông tin khác cũng như toàn bộ quá trình giao dịch với các đối tác trên Sàn giao dịch TMĐT Phongtro123.com.
            <br><br>&nbsp;&nbsp;&nbsp;&nbsp;Thành viên người đăng tin, người thuê có trách nhiệm cung cấp thông tin về giao dịch, hàng hóa hỗ trợ Sàn giao dịch TMĐT Phongtro123.com trong việc giải quyết tranh chấp phát sinh giữa người thuê và người đăng tin diễn ra qua Sàn.
            <br><br>&nbsp;&nbsp;&nbsp;&nbsp;Thành viên người đăng tin có trách nhiệm bồi thường thiệt hại cho người thuê nếu chứng minh được lỗi đó thuộc về người đăng tin.
            <br><br>&nbsp;&nbsp;&nbsp;&nbsp;Thành viên cam kết, đồng ý không sử dụng dịch vụ của Sàn giao dịch TMĐT Phongtro123.com vào những mục đích bất hợp pháp, không hợp lý, lừa đảo, đe doạ, thăm rò thông tin bất hợp pháp, phá hoại, tạo ra và phát tán virus gây hư hại tới hệ thống, cấu hình, truyền tải thông tin của Sàn giao dịch TMĐT Phongtro123.com hay sử dụng dịch vụ của mình vào mục đích đầu cơ, lũng đoạn thị trường tạo những đơn đặt hàng, chào hàng giả, kể cả phục vụ cho việc phán đoán nhu cầu thị trường. Trong trường hợp vi phạm thì thành viên phải chịu trách nhiệm về các hành vi của mình trước pháp luật.
            <br><br>&nbsp;&nbsp;&nbsp;&nbsp;Thành viên cam kết không được thay đổi, chỉnh sửa, sao chép, truyền bá, phân phối, cung cấp và tạo những công cụ tương tự của dịch vụ do Sàn giao dịch TMĐT Phongtro123.com cung cấp cho một bên thứ ba nếu không được sự đồng ý của Sàn giao dịch TMĐT Phongtro123.com trong Quy định này.
            <br><br>&nbsp;&nbsp;&nbsp;&nbsp;Thành viên không được hành động gây mất uy tín của Sàn giao dịch TMĐT Phongtro123.com dưới mọi hình thức như gây mất đoàn kết giữa các thành viên bằng cách sử dụng tên đăng ký thứ hai, thông qua một bên thứ ba hoặc tuyên truyền, phổ biến những thông tin không có lợi cho uy tín của Sàn giao dịch TMĐT Phongtro123.com
			
			<br><br>
			<b>IV. Điều khoản áp dụng</b>
			<br><br>
        	&nbsp;&nbsp;&nbsp;&nbsp;Quy chế của Website TMĐT Phongtro123.com chính thức có hiệu lực thi hành kể từ ngày ký Quyết định ban hành kèm theo Quy chế này. Website TMĐT Phongtro123.com có quyền và có thể thay đổi Quy chế này bằng cách thông báo lên Website Phongtro123.com cho các thành viên biết. Quy chế sửa đổi có hiệu lực kể từ ngày Quyết định về việc sửa đổi Quy chế có hiệu lực. Việc thành viên tiếp tục sử dụng dịch vụ sau khi Quy chế sửa đổi được công bố và thực thi đồng nghĩa với việc họ đã chấp nhận Quy chế sửa đổi này.
         	<br><br>
         	&nbsp;&nbsp;&nbsp;&nbsp;Quy chế hoạt động sẽ được Phongtro123.com cập nhật bổ sung liên tục mà không cần thông báo trước. Thành viên tham gia Phongtro123.com có trách nhiệm tuân theo quy chế hiện hành khi giao dịch trên website.

			<br><br>
			<b>V. Điều khoản cam kết</b>
			<br><br>
            Mọi thành viên khi sử dụng Website TMĐT Phongtro123.com  làm giao dịch cho thuê trực tuyến thì đồng nghĩa việc các bên có liên quan đã chấp thuận tuân theo quy chế này.
            <br><br>Mọi thắc mắc của khách hàng xin vui lòng liên hệ  với Website TMĐT Phongtro123.com  theo thông tin dưới đây để được giải đáp: 
			<br><br>Sàn giao dịch/Website Thương mại điện tử.
			<br><br>CÔNG TY TNHH LBKCORP - Website: Phongtro123.com
			<br><br>Địa chỉ : 150 Trần Não, Phường Bình An, Quận 2, Thành phố Hồ Chí Minh
			<br><br>Điện thoại: 0917 686 101                  
			<br><br>Email: cskh.phongtro123@gmail.com
			
			<div>
				<p class="kenhthongtin">Kênh thông tin phòng trọ số 1 Việt Nam</p>
			</div>
		</div>
	</div>
	<div th:replace="views/hotrochunhadangtin"></div>
	<div th:replace="views/header-footer/footer"></div>
</body>
</html>