.container {
    max-width: 1200px;
    margin: 20px auto;
    padding: 20px;
    font-family: Arial, sans-serif;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

/* Căn chỉnh cho form */
.search-form {
    display: grid; /* Dùng grid để căn chỉnh các trường dữ liệu */
    grid-template-columns: repeat(6, 1fr); /* 4 cột đều cho các trường dữ liệu */
    gap: 10px; /* Khoảng cách giữa các trường */
    margin-bottom: 20px; /* Khoảng cách dưới form */
}

/* Căn chỉnh các input trong form */
.search-form input, .search-form select, .search-form button {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
}


table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

table, th, td {
    border: 1px solid #ddd;
}

th, td {
    padding: 10px;
    text-align: left;
}

th {
    background-color: #f4f4f4;
}

select {
    padding: 5px;
    font-size: 14px;
}

button {
    padding: 5px 10px;
    background-color: #28a745;
    color: white;
    border: none;
    cursor: pointer;
}

.button {
    padding: 15px 10px;
    background-color: #28a745;
    color: white;
    border: none;
    cursor: pointer;
    text-align: center; 
    text-decoration: none;
}

button:hover {
    background-color: #218838;
}
