 body{
	background-color: whitesmoke;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.wrapper{
	display: flex;
}

#map {
	margin-top: .3rem;
    height: 325px;
}
    
#wrapper_infor_detail_room {
	width: 95%;
	padding: 1% 1% 1% 1.5rem;
	margin-top: .5rem;
}

#wrapper_infor_detail_room>div:first-child{
	margin-bottom: .5rem;
}

.wrapper_infor_other {
	width: 65%;
	display: flex;
	background-color: white;
}

.wrapper_infor {
	width: 100%;
	padding: 0 1% 1% 1%;
}

.wrapper_other {
	width: 35%;
	background-color: pink;
}

.wrapper_images {
	width: 100%;
	height: 30rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 .5rem;
	background-color: black;
}

.imageRoom {
	display: none;
}

#image_main {
	width: 100%;
	height:100%;
	object-fit: contain;
}

#pre_image, #next_image {
	cursor: pointer;
	border: none;
	border-radius: 50%;
	width: 6vh;
	height: 6vh;
	background-color: #FFA800;
	font-size: 2.5vh;
}

#show_image{
	height: 100%;
	width: 100%;
	overflow: hidden; 
	text-align: center;
}

@keyframes slideCenterToLeftPre {
    0% {
        transform: translateX(0%);
    }
    100% {
        transform: translateX(-300%);
    }
}

@keyframes slideRightToCenterPre {
    0% {
        transform: translateX(300%);
    }
    100% {
        transform: translateX(0%);
    }
}

@keyframes slideCenterToRightNext {
    0% {
        transform: translateX(0%);
    }
    100% {
        transform: translateX(300%);
    }
}

@keyframes slideLeftToRightNext {
    0% {
        transform: translateX(-300%);
    }
    100% {
        transform: translateX(0%);
    }
}

.wrapper_infor_title{
	margin: .5rem 0;
	font-size: 2.5vh;
	font-weight: 600;
}

.vip5{
	color: #FF001F;
}

.vip4{
	color: #FD6BCE;
}

.vip3{
	color: #FFA800;
}

.vip2{
	color: #5D0DFC;
}

.vip1{
	color: black;
}

.img-star{
	width: 2vh;
}

.detail_price_area_id,
.detail_describe>li:first-child{
	list-style-type: none;
}

.detail_describe>li:not(.detail_title_category){
	margin-left: 1.5rem;
}

.detail_price_area_id{
	display: flex;
	justify-content: space-between;
	padding-right: 8rem;
}

.detail_title_category{
	font-weight: 600;
	font-size: 3vh;
}

.detail_description,
.table,
.detail_contact {
	margin-left: 2rem;
}

.color{
	background-color: #D9D9D9;
}

.table td{
	padding: 5px .3rem;
}

.detail_price_area_id .fa-solid{
	margin-right: .2rem;
	color: gray;
}

.price{
	color: #26BB6B;
	font-weight: 600;
}

.location_first,
.detail_describe{
	margin-bottom: .5rem;
}

.detail_title_category{
	margin-top: .5rem;
}

.wrapper_infor_user{
	width: 35%;
	margin-left: .5rem;
}

.wrapper_detail_user{
	width: 100%;
	height: 15rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	background-color: #FFA800;
	padding: 3%;
}

.wrapper_detail_user img{
	width: 4rem;
}

.wrapper_infor_userName{
	font-weight: bold;
	font-size: 20px;
	margin: .3rem 0;
}

.wrapper_infor_contact{
	text-decoration: none;
	font-size: 15px;
	font-weight: bold;
}

.wrapper_infor_contact i,
.zalo img{
	margin-right: .5rem;
}

.wrapper_infor_contact img{
	height: 2rem;
}

.phone, 
.zalo{
	width: 35vh;
	height: 6vh;
	border-radius: 7px;
	margin-bottom: .5rem;
	display: flex;
	justify-content: center;
	align-items: center;
}

.phone{
	color: white;
	background-color: #70E274;
}

.zalo{
	background-color: white;
}

.phone i{
	font-size: 3.5vh;
}

.zalo img{
	width: 4.5vh;
}

.img_featurednew{
	width: 65px;
	height: 65px;
	object-fit: cover;
	margin-right: .5rem;
	border-radius: 10px;
}

.other_post{
	width: 100%;
	background-color: white;
	margin-top: .8rem;
	padding: 4% 3%;
}

.other_post>p:first-child {
	margin-bottom: .1rem;
	font-weight: 600;
	font-size: 3.5vh;
}

.post_img_price_time,
.post_price_time{
	display: flex;
	text-decoration: none;
	margin: .3rem 0;
}

.post_img_price_time{
	padding: .5rem .5rem 0 .5rem;
	border-bottom: 1px solid #ECECEC;
	transition: .25s;
}

.post_price_time{
	justify-content: space-between;
}

.post_title{
	color: black;
}

.post_price{
	color: #42BF46;
	font-weight: 600;
}

.post_time{
	color: gray;
}

.post_img_price_time:hover{
	background-color: #ECECEC;
}