@charset "UTF-8";

/* Khi chiều rộng cửa sổ <= 1280px và chiều cao cửa sổ >= 585px */
@media ( max-width : 1280px) and (min-height: 585px) {
	header {
		height: 11vh !important;
		font-size: 2.5vh !important;
	}
	header>div>a {
		white-space: nowrap;
	}
	header>div>a>i {
		font-size: 4vh !important;
	}
	header>div>a>ul {
		margin-top: 11% !important;
	}
	.header-account:hover .header-account-menu {
		margin-top: 9% !important;
	}
	header>div:nth-child(5)>a {
		width: 65% !important;
		padding: 8% 0 !important;
	}
	.menu-option {
		height: 7vh !important;
	}
	.menu-option>li {
		padding: 0 !important;
	}
	.option button {
		padding: 8% 0 !important;
		width: 13vh !important;
	}
	.option li {
		margin-right: 2% !important;
	}
	.footer-menu>ol>li:first-child, .footer-infor>ol>li:first-child,
		.footer-company {
		font-size: 2.3vh !important;
	}
	.footer-menu>ol>li>a, .footer-infor>ol>li>a {
		font-size: 2vh !important;;
	}
	.footer-system>p {
		font-size: 2vh !important;
	}
	.footer-infor-company>p:not(.footer-infor-company>p:first-child) {
		font-size: 1.8vh !important
	}
	#popup {
		height: 18% !important;
	}
	#popup>div:first-child {
		height: 80px !important;
	}
	#popup>div:last-child>p {
		font-size: 2.3vh;
        white-space: nowrap;
	}
}