<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Quy định đăng tin</title>
<link rel="stylesheet" type="text/css" href="/assets/css/style.css">
<link rel="stylesheet" type="text/css" href="/assets/css/header.css">
<link rel="stylesheet" type="text/css" href="/assets/css/footer.css">
<link rel="stylesheet" type="text/css" href="/assets/css/media.css">
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="/assets/js/header.js"></script>
</head>
<body>
	<div th:replace="views/header-footer/header"></div>
	
	<div class="wrapper_footer_page">
		<div>
			<a href="/">Trang chủ</a> <span> / Quy định đăng tin</span>
			<p class="namePage">Quy định đăng tin</p>
		</div>
		<div class="image">
			<img src="/assets/images/logo.png">
		</div>
		<div>
			<b>A. QUY ĐỊNH CHUNG:</b>
			<br><br>
			&nbsp;&nbsp;&nbsp;&nbsp;- Không sử dụng bất kỳ thiết bị, phần mềm, quy trình, phương tiện để can thiệp hay cố gắng can thiệp vào hoạt động đúng đắn trên Phongtro123.com
			<br><br>
			&nbsp;&nbsp;&nbsp;&nbsp;- Không được đăng ký tài khoản và khai báo những thông tin giả mạo; nick gây hiểu nhầm với những thành viên khác
			<br><br>
			&nbsp;&nbsp;&nbsp;&nbsp;- Không được phép đăng tin liên quan đến các vấn đề mà Pháp luật Việt Nam không cho phép.
			<br><br>
			&nbsp;&nbsp;&nbsp;&nbsp;- Không được đăng những bài viết, thông tin có nội dung vi phạm pháp luật; đả kích, bôi nhọ, chỉ trích hay bàn luận về chính trị, tôn giáo, phản động, kỳ thị văn hóa, dân tộc, cũng như vi phạm khác liên quan đến thuần phong mỹ tục của dân tộc Việt Nam.
			<br><br>
			&nbsp;&nbsp;&nbsp;&nbsp;- Không được xâm phạm quyền lợi, uy tín, đời tư của các cá nhân hay thành viên khác, không được dùng ngôn từ tục tĩu, thóa mạ trong các thông tin tham gia.
			<br><br>
			&nbsp;&nbsp;&nbsp;&nbsp;- Không được lợi dụng website để tuyên truyền, đề xướng, lôi kéo với những nội dung không lành mạnh.
			<br><br>
			&nbsp;&nbsp;&nbsp;&nbsp;- Phải dùng ngôn từ trong sáng, rõ ràng, đúng chính tả.
			<br><br>
			<b>B. QUY ĐỊNH VỀ TIN ĐĂNG (CÁC TRƯỜNG HỢP TIN ĐĂNG KHÔNG ĐƯỢC DUYỆT)</b>
			<br><br>&nbsp;&nbsp;&nbsp;&nbsp;1. Tiêu đề và nội dung tin đăng bằng tiếng Việt, có dấu, chữ thường, chỉ viết hoa đầu câu và danh từ riêng, đúng chính tả, câu văn mạch lạc, rõ ràng, không chèn các ký tự đặc biệt, không dùng dấu gạch dưới ( _ ) để ngắt câu hay đặt ở đầu câu. Lưu ý: tin đăng tiêu đề/nội dung IN HOA, sẽ không được duyệt hiển thị.
			<br><br>
			&nbsp;&nbsp;&nbsp;&nbsp;2. Giữa các đoạn văn cách nhau không quá 1 hàng ký tự, không để khoảng trống, không dùng dấu chấm dấu phẩy các ký tự đặc biệt liên tiếp tạo thành dòng, không để từ khóa bên dưới nội dung mô tả của tin đăng.
			<br><br>
			&nbsp;&nbsp;&nbsp;&nbsp;3. Tin đăng không chứa các từ ngữ dung tục, nhạy cảm không phù hợp thuần phong mỹ tục, không đăng thông tin hoặc đề cập đến các chính trị gia, người nổi tiếng.
			<br><br>
			&nbsp;&nbsp;&nbsp;&nbsp;4. Website chỉ duyệt các tin đăng về cho thuê thuộc các chuyên mục: cho thuê phòng trọ, cho thuê nhà, cho thuê căn hộ/chung cư, cho thuê mặt bằng, ở ghép. Không được đăng các tin cho thuê ngoài các chuyên mục nêu trên. Mỗi tin đăng chỉ được đăng tin về cho thuê, không đăng đồng thời cả bán và cho thuê.
			<br><br>
			&nbsp;&nbsp;&nbsp;&nbsp;5. Không đăng tin trùng dưới bất kỳ hình thức tin đăng nào, tin trùng sẽ bị hạ.
			<br><br>
			&nbsp;&nbsp;&nbsp;&nbsp;+ Một căn (sản phẩm cho thuê) cho thuê cùng giá, cùng diện tích, đăng lặp lại dù nội dung có khác nhau => Không duyệt tin.
			<br><br>
			&nbsp;&nbsp;&nbsp;&nbsp;+ Một căn (sản phẩm cho thuê) khác giá, khác diện tích, khác địa chỉ mà đăng trùng nội dung => Không duyệt tin.
			<br><br>
			&nbsp;&nbsp;&nbsp;&nbsp;+ Một căn (sản phẩm cho thuê) xác định tại một địa chỉ nhưng cố tình đăng phủ nhiều khu vực đường, phường, quận/huyện khác nhau (mặc dù soạn nội dung tin khác nhau) => Không duyệt tin. 
			<br><br>
			&nbsp;&nbsp;&nbsp;&nbsp;+ Các căn (sản phẩm cho thuê) khác nhau nhưng đăng cùng một hình ảnh => Không duyệt tin.
			<br><br>
			&nbsp;&nbsp;&nbsp;&nbsp;+ Hình ảnh sai thực tế, để hình người, chân dung... => Không duyệt tin.
			<br><br>
			&nbsp;&nbsp;&nbsp;&nbsp;6. Tin đăng phải điền đầy đủ, chính xác địa chỉ: số nhà, tên đường, tên phường, quận/huyện. Những tin đăng điền thiếu hoặc không chính xác địa chỉ có thể không được duyệt hiển thị. 
			<br><br>
			&nbsp;&nbsp;&nbsp;&nbsp;7. Thông tin giá cho thuê căn (sản phẩm cho thuê) trong nội dung tin đăng và ô nhập mức giá phải đúng với giá thực tế cho thuê. 
			<br><br>
			&nbsp;&nbsp;&nbsp;&nbsp;8. Tin đăng cho thuê căn (sản phẩm cho thuê) phải điền đầy đủ các thông tin tại các trường thông tin ở giao diện đăng tin theo nội dung tin đăng.
			<br><br>
			&nbsp;&nbsp;&nbsp;&nbsp;9. Quý khách tuyệt đối không sao chép nội dung quảng cáo từ các nhà quảng cáo khác. Trong trường hợp Phongtro123.com nhận được khiếu nại của khách hàng và xác định được tin đăng của Quý khách là tin sao chép nội dung, tin đăng của Quý khách có thể bị xóa hoặc chỉnh sửa lại nội dung mà không cần thông báo trước.
			<br><br>
			&nbsp;&nbsp;&nbsp;&nbsp;10. Tin đăng khi hết hạn nếu khách hàng không gia hạn lại sau thời gian nhất định hệ thống sẽ tự động xóa đi.
			<br><br>
			<b>C. QUY ĐỊNH VỀ TÀI KHOẢN:</b>
			<br><br>&nbsp;&nbsp;&nbsp;&nbsp;- Tại Phongtro123.com, chúng tôi rất quan tâm đến vấn đề minh bạch thông tin, vì vậy tài khoản phải cung cấp thông tin thật của người sử dụng (họ tên, số điện thoại...).
			<br><br>
			&nbsp;&nbsp;&nbsp;&nbsp;- Số điện thoại sử dụng của tài khoản sẽ được xác thực trước khi đăng tin
			<br><br>
			&nbsp;&nbsp;&nbsp;&nbsp;- Tài khoản sẽ được đánh dấu "đã xác thực" sau khi ban quản trị website nhận được thông tin cung cấp từ chủ tài khoản (bao gồm chứng minh nhân dân, bằng lái hoặc các thông tin liên quan).
			<br><br>
			<b>NHỮNG LÝ DO KHIẾN TÀI KHOẢN BỊ KHÓA</b>
			<br><br>
			&nbsp;&nbsp;&nbsp;&nbsp;- Tạo nhiều tài khoản ảo: cố tình tạo nhiều tài khoản để lách quy định giới hạn tin đăng trên mỗi tài khoản.
			<br><br>
			&nbsp;&nbsp;&nbsp;&nbsp;- Đăng tin không đúng sự thật: cố ý cung cấp nội dung sai, giả mạo so với giao dịch thực tế (bao gồm thông tin về bất động sản, giá, hình ảnh, địa chỉ...) và hướng khách hàng đến 1 giao dịch khác, điều này làm ảnh hưởng rất lớn đến lòng tin, uy tín của website Phongtro123.com đối với người dùng. Nếu bất động sản đã giao dịch xong, xin vui lòng cập nhật lại trạng thái của bất động sản (đã bán, đã cho thuê).
			<br><br>
			&nbsp;&nbsp;&nbsp;&nbsp;- Đăng nội dung trùng lặp: cùng 1 bất động sản nhưng đăng nhiều lần, gây trùng lặp nội dung trên website. Nếu muốn đưa tin đăng lên cao, vui lòng sử dụng tính năng UP TOP
			<br><br>
			&nbsp;&nbsp;&nbsp;&nbsp;- Sử dụng phần mềm UP TOP tự động được cung cấp bởi bên thứ 3 ngoài kiểm soát của Phongtro123.com, khiến máy chủ quá tải gây ảnh hưởng tốc độ website. Nếu có nhu cầu UP TOP tự động vui lòng sử dụng tính năng được cung cấp bởi Phongtro123.com để website hoạt động ổn định.
			<br><br>
			<b>D. QUY ĐỊNH VỀ CHI PHÍ:</b>
			<br><br>&nbsp;&nbsp;&nbsp;&nbsp;- Mỗi tài khoản đăng ký lần đầu tiên được tặng 1 tin miễn phí có hạn sử dụng trong vòng 7 ngày kể từ lúc đăng ký, bạn sẽ trả phí nếu muốn sử dụng tiếp dịch vụ đăng tin thường, VIP, UP TOP, hoặc các dịch vụ có phí khác.
			<br><br>
			&nbsp;&nbsp;&nbsp;&nbsp;- Giúp giao dịch cho thuê diễn ra nhanh chóng cũng là 1 trong những mục tiêu của Phongtro123.com, vì vậy phí trả cho số ngày mua dịch vụ sẽ không được hoàn lại khi giao dịch đã thành công sớm hơn.
			
			<div>
				<p class="kenhthongtin">Kênh thông tin phòng trọ số 1 Việt Nam</p>
			</div>
		</div>
	</div>
	
	<div th:replace="views/hotrochunhadangtin"></div>
	
	<div th:replace="views/header-footer/footer"></div>
</body>
</html>