<div id="hotrochunha">
	<div>
		<div>
			<img src="/assets/images/contact-us-pana-orange.svg">
		</div>
		<div>
			<img src="/assets/images/bi-headset.svg">
			<p style="text-align: center; font-size: 2.8vh; font-weight: 600">Hỗ trợ chủ nhà đăng tin</p>
			<p>Nếu bạn cần hỗ trợ đăng tin, vui lòng liên hệ số điện thoại bên dưới:</p>
			<a href="tel:+84375204558"><i class="fa-solid fa-phone"></i>ĐT: 0375204558</a> 
			<a href="http://zalo.me/0375204558"><img class="icon" src="/assets/images/bi-chat-text-white.svg">Zalo: 0375204558</a>
		</div>
	</div>
</div>