<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Nạp tiền vào tài khoản</title>
<link rel="stylesheet" type="text/css" href="/assets/css/naptien.css">
<link rel="stylesheet" type="text/css" href="/assets/css/header.css">
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
	<!-- Header (được tái sử dụng nếu bạn đã có th:replace cho header) -->
	<header th:replace="views/header-footer/header"></header>

	<div class="container">
		<div class="left-column">

			<!-- Thông tin người dùng -->
			<div class="user-info">
				<div class="user-info2">
					<div class="user-avatar">
						<i class="fa-solid fa-circle-user fa-4x"></i>
					</div>
					<div class="user-details">

						<p class="user-name">Nguyễn Văn Thuận</p>
						<p class="user-phone">0384756773</p>
						<p class="user-id">
							Mã thành viên: <span>12345678</span>
						</p>
					</div>
				</div>
				<div class="btn2">
					<button th:onclick="'window.location.href=\'' + @{/recharge} + '\''" class="btn-recharge">Nạp tiền</button>
					<button class="btn-post">Đăng tin</button>
				</div>
				<div class="support-info">
					<p>Nhân viên hỗ trợ của bạn:</p>
					<p>Văn Thuận - 0999999999</p>
				</div>
			</div>

			<!-- Thanh bên (sidebar) -->
			<aside class="sidebar">

				<ul class="menu">
					<li><a href="#">Quản lý tin đăng</a></li>
					<li><a href="#">Sửa thông tin cá nhân</a></li>
					<li><a th:href="@{/recharge}">Nạp tiền vào tài khoản</a></li>
					<li><a th:href="@{/recharge4}">Lịch sử nạp tiền</a></li>
					<li><a href="#">Lịch sử thanh toán</a></li>
					<li><a href="#">Bảng giá dịch vụ</a></li>
					<li><a href="#">Liên hệ</a></li>
					<li><a href="#">Thoát</a></li>
				</ul>
			</aside>


		</div>

		<!-- Nội dung nạp tiền -->
		<div class="main-content">
			<h2>Nạp tiền vào tài khoản</h2>
			<!-- Thông báo ưu đãi -->
			<div class="recharge-info">
				<p>Nạp từ 50.000 đến dưới 1.000.000 tặng 10%</p>
				<p>Nạp từ 1.000.000 đến dưới 2.000.000 tặng 20%</p>
				<p>Nạp từ 2.000.000 trở lên tặng 25%</p>
			</div>

			<!-- Lựa chọn phương thức nạp tiền -->
			<h3>Mời bạn chọn phương thức nạp tiền</h3>
			<div class="payment-methods1">
				<div class="payment-option">
					<img src="/assets/images/qrcode.png" alt="Chuyển khoản">
					<button th:onclick="'window.location.href=\'' + @{/recharge2} + '\''">Chuyển khoản</button>

				</div>
				<div class="payment-option">
					<img src="/assets/images/momo.png" alt="MoMo">
					<button th:onclick="'window.location.href=\'' + @{/recharge2} + '\''">MoMo</button>
				</div>
				<div class="payment-option">
					<img src="/assets/images/zalopay.webp" alt="Zalo Pay">
					<button th:onclick="'window.location.href=\'' + @{/recharge2} + '\''">Zalo Pay</button>
				</div>
			</div>
		</div>
	</div>

</body>
</html>
