<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Nạp tiền vào tài khoản</title>
<link rel="stylesheet" type="text/css" href="/assets/css/naptien.css">
<link rel="stylesheet" type="text/css" href="/assets/css/header.css">
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="/assets/js/naptien.js"></script>

</head>
<body>
	<!-- Header (được tái sử dụng nếu bạn đã có th:replace cho header) -->
	<header th:replace="views/header-footer/header"></header>

	<div class="container">
		<div class="left-column">

			<!-- Thông tin người dùng -->
			<div class="user-info">
				<div class="user-info2">
					<div class="user-avatar">
						<i class="fa-solid fa-circle-user fa-4x"></i>
					</div>
					<div class="user-details">

						<p class="user-name">Nguyễn Văn Thuận</p>
						<p class="user-phone">0384756773</p>
						<p class="user-id">
							Mã thành viên: <span>12345678</span>
						</p>
					</div>
				</div>
				<div class="btn2">
					<button th:onclick="'window.location.href=\'' + @{/recharge} + '\''" class="btn-recharge">Nạp tiền</button>
					<button class="btn-post">Đăng tin</button>
				</div>
				<div class="support-info">
					<p>Nhân viên hỗ trợ của bạn:</p>
					<p>Văn Thuận - 0999999999</p>
				</div>
			</div>

			<!-- Thanh bên (sidebar) -->
			<aside class="sidebar">

				<ul class="menu">
					<li><a href="#">Quản lý tin đăng</a></li>
					<li><a href="#">Sửa thông tin cá nhân</a></li>
					<li><a th:href="@{/recharge}">Nạp tiền vào tài khoản</a></li>
					<li><a th:href="@{/recharge4}">Lịch sử nạp tiền</a></li>
					<li><a href="#">Lịch sử thanh toán</a></li>
					<li><a href="#">Bảng giá dịch vụ</a></li>
					<li><a href="#">Liên hệ</a></li>
					<li><a href="#">Thoát</a></li>
				</ul>
			</aside>


		</div>

		<!-- Nội dung nạp tiền -->
		<div class="main-content">
			<h2>Nạp tiền vào tài khoản</h2>
			<!-- Thông báo ưu đãi -->
			<div class="recharge-info">
				<p>Nạp từ 50.000 đến dưới 1.000.000 tặng 10%</p>
				<p>Nạp từ 1.000.000 đến dưới 2.000.000 tặng 20%</p>
				<p>Nạp từ 2.000.000 trở lên tặng 25%</p>
			</div>

			<h2>Chọn số tiền cần nạp</h2>
			<div class="payment-methods2">
				<form th:action="@{/recharge3}" method="post" th:object="${rechargeRequest}">
					<p>Chọn nhanh số tiền cần nạp</p>
					<div class="quick-options">
							<label><input type="radio" name="amount" value="50000">50.000 đ</label> 
							<label><input type="radio" name="amount" value="100000"> 100.000 đ</label> 
							<label><input type="radio" name="amount" value="200000"> 200.000 đ</label> 
							<label><input type="radio" name="amount" value="500000"> 500.000 đ</label> 
							<label><input type="radio" name="amount" value="1000000"> 1.000.000 đ</label> 
							<label><input type="radio" name="amount" value="2000000"> 2.000.000 đ</label> 
							<label><input type="radio" name="amount" value="5000000"> 5.000.000 đ</label>
					</div>
					<p>Hoặc nhập số tiền cần nạp</p>
					<input type="number" name="amount" placeholder="Nhập số tiền cần nạp" class="input-amount"  th:field="*{amount}">
					 <span style="color: red" th:if="${#fields.hasErrors('amount')}" th:errors="*{amount}"></span> <br>
					<button type="submit" class="btn-recharge-submit">Nạp</button>
				</form>
			</div>


			<!-- Lưu ý -->
			<div class="recharge-note">
				<p class="note-title">Lưu ý quan trọng:</p>
				<p>
					Trong quá trình thanh toán, bạn vui lòng <b>KHÔNG ĐÓNG TRÌNH
						DUYỆT</b>.
				</p>
				<p>
					Nếu gặp khó khăn trong quá trình thanh toán, xin liên hệ <b>0384756773</b>
					để chúng tôi hỗ trợ bạn.
				</p>
			</div>
		</div>
	</div>

</body>
</html>
